body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("image.png");
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    text-align: center;
    margin: 0;
    padding-top: 10px;
}

#keapp{
    margin: auto;
    padding: 15px 30px;
    font-size: 50px;
    background-color: rgb(0, 0, 0);
    color: white;
    width: 250px;
    height: 125px;
}
#keapp:hover{
    color: blue;
}

#kaapp{
    margin: auto;
    padding: 15px 30px;
    font-size: 50px;
    background-color: rgb(0, 0, 0);
    color: white;
    width: 250px;
    height: 125px;
}
#kaapp:hover{
    color: blue;
}
